@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital@0;1&family=Qwitcher+Grypen&family=Righteous&family=Roboto+Mono:wght@500&family=Russo+One&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
  
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: black;
}
.container{
    margin: auto;
    margin-top: 3rem;
    left: 0;
    right: 0;
    width: 90%;
    height: 93vh;
    box-sizing: border-box;
  display: flex;
  position: absolute;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  overflow: hidden;
}
.inner_main_div{
    margin: auto;
    width: 80%;
    height: 90%;
    position: relative;
}
.inner_main_div>div:nth-child(1){
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    height: 35%;
}
.inner_main_div>div:nth-child(2){
    position: relative;
    display: flex;
    justify-content:center;
    margin: auto;
    height: 30%;
    width: 50%;
}
.inner_main_div>div:nth-child(3){
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    height: 30%;
    width: 40%;
}

.drum{
    margin: auto;
width: 12rem;
height: 12rem;
border: 2px solid transparent;
border-radius: 50%;

}
.drum.active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   border-radius: 50%;
}
.ginger.active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   border-radius: 50%;
}
.ginger1.active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   border-radius: 50%;
}

.drum1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 10px solid grey;
    border-style:double;
    background: rgb(240,239,233);
background: radial-gradient(circle, rgba(240,239,233,1) 3%, rgba(244,244,244,1) 28%, rgba(162,225,226,1) 79%);
    
}
.drum2{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 8rem;
    height: 8rem;
    border: 6px solid grey;
    background: rgb(240,239,233);
background: radial-gradient(circle, rgba(240,239,233,1) 3%, rgba(244,244,244,1) 59%, rgba(162,225,226,1) 79%);
}
.drum3{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 10px solid grey;
    border-style:double;
    background: rgb(240,239,233);
background: radial-gradient(circle, rgba(240,239,233,1) 3%, rgba(244,244,244,1) 28%, rgba(162,225,226,1) 79%);
}.drum4{
    width: 10rem;
    height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgb(155,145,79);
    background: radial-gradient(circle, rgba(155,145,79,1) 25%, rgba(255,255,255,1) 41%, rgba(244,244,244,1) 56%, rgba(155,145,79,1) 63%, rgba(155,145,79,1) 100%);
    border: 6px solid rgba(110, 53, 53, 0.726);
}
.drum5{
    width: 10rem;
    height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgb(155,145,79);
    background: radial-gradient(circle, rgba(155,145,79,1) 25%, rgba(255,255,255,1) 41%, rgba(244,244,244,1) 56%, rgba(155,145,79,1) 63%, rgba(155,145,79,1) 100%);
    border: 6px solid rgba(110, 53, 53, 0.726); 
}



.ginger{
    
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background: rgb(98,75,19);
    background: radial-gradient(circle, rgba(98,75,19,1) 2%, rgba(232,168,27,1) 3%, rgba(94,71,17,1) 8%, rgba(163,146,44,1) 79%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ginger1{
    width: 15rem;
    height: 15rem;
    border-radius: 50%; 
    background: rgb(98,75,19);
    background: radial-gradient(circle, rgba(98,75,19,1) 2%, rgba(232,168,27,1) 3%, rgba(94,71,17,1) 8%, rgba(163,146,44,1) 79%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.top_animation{
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
    z-index: 10000;
    animation: top 10s forwards 1;
}
@keyframes top{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-100rem);
    }
}
.botm_animation{
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
    z-index: 10000;
    animation: botm 10s forwards 1;
}
@keyframes botm{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(100rem);
    }
}
.drums_heading{
    width: 100%;
    height: 100vh;
    position: absolute;
  left: 100rem;
   bottom: 0;
  z-index: 1000;
    margin: auto;
    text-align: center;
    align-items: center;
    color: white;
backdrop-filter: blur(10px);
  align-items: center;
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Russo One', sans-serif;
 animation:blur 10s forwards 1;  
opacity: 1;
}
@keyframes  blur {
    0%{
        transform: translateX(0rem);
    }
    0%{
        transform: translateX(-150rem);
    }
}
.drums_heading h1{
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 34%;
}






@media only screen and (max-width: 480px) {

    *{
        margin: auto;
    }
    .container{
  margin-top: 7rem;
      height: 40rem;
    }
    .drum{
        margin: auto;
    width: 12rem;
    height: 12rem;
    border: 2px solid transparent;
    border-radius: 50%;
    border: 7px solid grey;
    border-style:double;
    }
    
    .inner_main_div>div:nth-child(1){
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 100%;
        height: 35%;
 
    }
    .inner_main_div>div:nth-child(2){
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 100%;
        height: 35%;
    }
    .inner_main_div>div:nth-child(3){
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 30%;
        margin-top: -2rem;
    }

    .drum2{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 8rem;
        height: 8rem;
        border: 6px solid grey;
        background: rgb(240,239,233);
    background: radial-gradient(circle, rgba(240,239,233,1) 3%, rgba(244,244,244,1) 59%, rgba(162,225,226,1) 79%);
    }

    .drum4, .drum5{
        width: 7rem;
        height: 7rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: rgb(155,145,79);
        background: radial-gradient(circle, rgba(155,145,79,1) 25%, rgba(255,255,255,1) 41%, rgba(244,244,244,1) 56%, rgba(155,145,79,1) 63%, rgba(155,145,79,1) 100%);
        border: 6px solid rgba(110, 53, 53, 0.726);
    }
    .drums_heading h1{
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
    }
}